html { /*Variaveis*/
    --bgPrincipal: #fff;
    --bgSecundaria: #dce2e7;
    --bgLogo: url('img/logoblack.png');
    --bgButton: url('https://image.flaticon.com/icons/svg/547/547433.svg');
    --colorText: #666;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: var(--bgPrincipal);
}

a {
    text-decoration: none;
    color: var(--colorText);
}

hr {
    margin: auto;
    width: 85%;
}

header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    width: 80%;
}

#logo {
    margin: 15px 0;
    width: 125px;
    height: 70px;
    background-image: var(--bgLogo);
    background-size: 100%;
}

header ul {
    display: flex;
    margin-right: 80px;
    list-style: none;
}

header a {
    padding: 40px 20px;
    text-transform: uppercase;
    display: block;
}

header a:hover {
    padding-bottom: 38px;
    border-bottom: 2px solid #1a7dff;
    font-weight: 600;
    color: #1a7dff;
}

input[type="checkbox"] {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 33px;
    right: 140px;
    outline: none;
    -webkit-appearance: none;
    cursor: pointer;
}

 #dm_button {
    position: absolute;
    top: 33px;
    right: 140px;
    width: 35px;
    height: 35px;
    background-image: var(--bgButton);
    transition: 400ms;
} 

#carousel h2 {
    margin-top: 35%;
    padding: 20px;
    text-align: center;
    letter-spacing: 4px;
    color: #fff;
    background-color: rgba(1, 1, 1, 0.514);
}

.carousel_content_1, .carousel_content_2, .carousel_content_3 { /*posição do carrossel*/
    display: block;
    position: absolute;
    margin: 50px 7% 0;
    width: 80%;
    max-height: 480px;
    box-shadow: 0 4px 16px rgba(1, 1, 1, 0.4);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -120px;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.carousel_content_1 { 
    background-image: url("https://i.pinimg.com/originals/46/e8/6c/46e86cd9e2d8bbb5c1406592f57dcfee.jpg");
}

.carousel_content_2 {   
    background-image: url("https://i.pinimg.com/originals/1a/7e/b0/1a7eb0d3b13a0055b4065d87b8d7824a.jpg");
    background-position-y: -180px;
}

.carousel_content_3 {  
    background-image: url("https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2016%2F09%2Fadidas-originals-yeezy-boost-350-v2-retail-list-01.jpg?q=75&w=800&cbr=1&fit=max");
}

.carousel_content_1 {
    animation-name: anim-1;
} 
.carousel_content_2 {
    animation-name: anim-2;
} 
.carousel_content_3 {
    animation-name: anim-3;
}

@keyframes anim-1 {
    0%, 8.3% { right: 3%; opacity: 0; }
    8.3%,25% { right: 3%; opacity: 1; }
    33.33%, 100% { right: 3%; opacity: 0; }
}
@keyframes anim-2 {
    0%, 33.33% { right: 3%; opacity: 0; }
    41.63%, 58.29% { right: 3%; opacity: 1; }
    66.66%, 100% { right: 3%; opacity: 0; }
}
@keyframes anim-3 {
    0%, 66.66% { right: 3%; opacity: 0; }
    74.96%, 91.62% { right: 3%; opacity: 1; }
    100% { right: 3%; opacity: 0; }
}

#container {
    margin-top: 45%;
}

.container_content_left, .container_content_right {
    height: 110vh;
    background-color: var(--bgSecundaria);
    border-bottom: 1px solid #1a7dff;
}

.container_content_right {
    background-color: var(--bgPrincipal)
}

.container_content_left h1, .container_content_right h1 {
    position: relative;
    top: 200px;
    left: 10px;
    color: white;
    text-shadow: 0 4px 16px rgba(1, 1, 1, 0.2);
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 25px;
    writing-mode: vertical-lr;
}

.container_content_right h1 {
    top: 10px;
    left: 0;
    float: right;
    color: var(--colorText);
    transform: rotate(180deg);
}

.container_window_left, .container_window_right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 30px;
    float: right;
    padding: 40px 40px 100px;
    width: 85%;
}

.container_window_right {
    float: left;
}

.grid_card {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--bgPrincipal);
    border-radius: 10px;
    transition: 300ms;
}

.grid_card:hover {
    box-shadow: 0 4px 16px rgba(1, 1, 1, 0.5);
}

.grid_card:hover img {
    filter: brightness(80%);
}

.grid_card img {
    margin: 0 auto;
    width: 243px;
    height: 195px;
    background-color: rgb(243, 242, 242);
    border-radius: 10px 10px 0 0;
}

.grid_card_description {
    padding: 0 5px;
    line-height: 22px;
    color: var(--colorText);
}

footer {
    padding: 20px 0;
    text-align: center;
    color: white;
    background-color: black;
}